h1{
	font-size: 80px;
	color: white;
}
body{

	background-image: url("fireball.jpg");
	color: white;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
    	background-position: center; 
}
p{

}