h1{
	font-size: 80px;
	color: white;
}
body{

	background-image: url("fireball.jpg");
	color: white;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
    	background-position: center; 
}
p{	font-size: 24px;

}
#mitt{
	height:400px;
	width: auto;

}
#strikes{
	height:400px;
	width: auto;
}
#trow1{
	height:350px;
	width: auto;	
}
#thanks for watching{
	height:300;
	width: auto;
}